.grid-table {
	display: grid;
	position: relative;
	width: 800px;
	height: 800px;
	grid-template-columns: repeat(16, auto);
	grid-template-rows: repeat(16, auto);
	margin: auto;
	margin-top: 75px;
	opacity: 0.99;
}

.table-contents {
	background-color: #d3d3d3;
	border: 0px white solid;
	padding: 10px;
}

.table-contents-changed {
	background-color: white;
	border: 2px black solid;
	padding: 10px;
}

.reset-button {
	position: relative;
	height: 30px;
	width: 100px;
	top: -800px;
	background-color: rgb(120, 176, 50);
	opacity: 0.85;
}

.set-button {
	display: none;
	position: relative;
	height: 25px;
	width: 150px;
	top: -355px;
}

.footer {
	font-size: 18px;
	display: inline-block;
	position: relative;
	width: 98.45%;
	background-color: rgb(0, 50, 50);
	margin: auto;
	color: rgb(200, 170, 70);
	text-align: center;
	vertical-align: middle;
	padding: 15px;
	margin-bottom: 0px;
}
a {
	color: rgb(200, 170, 70);
}


body {
	width:100%;
	background-image: url("./apple-min.jpg");
	padding: 0;
	margin: 0;
}
	
